# both
tendo  # singleton <- SingleInstance
Pillow  # create analyse-image and systray-icon
psutil  # get process data and kill-(stalker)process

# stalker
schedule  # manage measurement-timing
pystray  # systray-icon and notifications

# viewer

